.home-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-title {
    font-size: 3rem;
    letter-spacing: 4px;
    margin-bottom: 1rem;
    color: #fff;
    text-shadow: 
    0 0 5px #ff00ff,
    0 0 10px #ff00ff,
    0 0 20px #ff00ff,
    0 0 40px #ff00ff;
}

.home-tag {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    color: #fff;
    text-shadow: 
    0 0 3px #00ffff;
}

