.movie-details {
    position: relative;
    min-height: 100vh;
    color: #fff;
}

.backdrop {
    position: fixed;
    inset: 0;
    background-size: cover;
    background-position: center;
    filter: brightness(0.3);
    z-index: -1;
}

.details-main {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    margin-top: 2rem;
}

.details {
    flex: 1;
    max-width: 700px;
}

.details-main .poster-image {
    width: 240px;
    flex-shrink: 0;
}

.movie-detail-title {
    margin-bottom: 0.5rem;
}

.movie-tagline {
    font-style: italic;
    opacity: 0.8;
    margin-bottom: 1rem;
}

.movie-release {
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.movie-genres {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.genre-pill {
    /* display: inline-block; */
    padding: 0.25rem 0.6rem;
    border: 1px solid #00ffff;
    border-radius: 999px;
    font-size: 0.8rem;
    background: rgba(0,0,0,0.4);
    box-shadow: 
    0 0 5px rgba(0,255,255,0.5);
}

.movie-overview {
    line-height: 1.5;
    max-width: 65ch;
}

.cast-section {
    margin-top: 3rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(0,255,255,0.2);
}

.cast-section h2 {
    margin-bottom: 1.5rem;
}

.cast-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;
}

.cast-card {
    text-decoration: none;
    color: var(--text-light);
    padding: 0.75rem;
    text-align: center;
}

.cast-card .poster-image {
    width: 100%;
    border: 2px solid #ff00ff;
    box-shadow: 0 0 8px #ff00ff;
}

.review-section {
    margin-top: 3rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(0,255,255,0.2);
}

.review-grid {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1rem;
}

.review-card {
    text-align: left;
    font-size: 0.7rem;
    min-width: 50%;
}

.review-errorcard {
    margin-top: 3rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(0,255,255,0.2);
    text-align: left;
    font-size: 0.7rem;
    min-width: 50%;
}

.review-card .review-subtext {
    font-size: small;
}

.review-card .review-supertext {
    font-size: x-large;
}

.review-errorcard .review-errortext {
    font-size: x-large;
    color: red;
    margin-bottom: 0.75rem;
}

.cast-card p {
    margin-bottom: 0.35rem;
    font-size: 0.95rem;
}

.character {
    font-size: 0.8rem;
    opacity: 0.75;
}

@media (max-width: 768px) {
    .details-main {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .details-main .poster-image{
        width: 220px;
    }

    .movie-genres {
        justify-content: center;
    }

    .movie-overview {
        max-width: 100%;
    }
}

.loading {
    text-align: center;
    margin-top: 2rem;
}